@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/*  ------------------------------------------------ROOT VARIABLES  ------------------------------------------------*/

:root {
  --hoverstatenav: #f4f4f4;
  --bodybackground: #ffffff;
  --voilet: #55198b;
  --box-design: rgba(109, 40, 217, 0.1); /* #6d28d9 */
  --box-design-hover: rgba(88, 17, 202, 0.1);
  --headerbar-bg: #fff;
  --headings: #000000;
  --para-clr: #868e96;
  --heading-fs: 5.6rem;
  --para-fs: 2.5rem;
  --font-nav: "Montserrat", sans-serif;
}

/* ------------------------------------------------ GENERAL STYLING  ------------------------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}

.typed-cursor {
  color: var(--voilet);
}
.typing-text {
  color: var(--voilet);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 100vh;
}

body {
  background: var(--bodybackground);
  font-family: var(--font-nav);
}

body.dark .section {
  background-color: #151515;
}

/* For scroll stylings */
html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: var(--voilet);
}
html::-webkit-scrollbar-thumb {
}

/* ------------------------------------------------HEADER BAR STARTS ------------------------------------------------*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.7rem 10%;
  height: 6.5rem;
  background-color: var(--headerbar-bg);
  box-shadow: 0 1px 4px var(--voilet);
}

header .navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
header .navbar li {
  margin-left: 2.5rem;
}
header .navbar ul li a {
  font-size: 1.57rem;
  color: var(--headings);
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.04rem;
  padding: 1rem 1.4rem;
  transition: 0.6s;
  outline: none;
  border-radius: 2rem;
}
header .navbar ul li a.active,
header .navbar ul li a:hover {
  color: var(--bodybackground);
  background-color: var(--voilet);
  border: 1px solid var(--voilet);
}
/*  ------------------------------------------------HEADER BAR ENDS* ------------------------------------------------/

/*  ------------------------------------------------MAIN SECTION STARTS ------------------------------------------------ */
.home,
.skills,
.exp-sec-wrapper {
  margin-top: 24rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}
.home #particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
/* flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ] */
.home .content,
.skills .content-skills {
  flex: 1 1 40rem;
  padding-top: 1rem;
  z-index: 1;
  margin-left: 10rem;
}

.home .content h3 {
  font-size: var(--heading-fs);
  font-weight: 800;
  color: var(--font-root);
}

.home .content p {
  font-size: var(--para-fs);
  color: var(--para-clr);
  font-weight: 800;
  padding: 1rem 0;
}

.home .btn {
  background-color: var(--voilet);
  border: 1px solid var(--voilet);
  color: var(--bodybackground);
  font-weight: 700;
  width: -webkit-max-content;
  width: max-content;
  padding: 1rem 1.4rem;
  text-transform: uppercase;
  outline: none;
  border-radius: 2rem;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
}

.home .btn:hover {
  background: var(--bodybackground);
  border: 1px solid var(--voilet);
  color: var(--voilet);
}

/* MAIN IMG  */
.home .image,
.skills .image,
.exp-sec-wrapper .image {
  flex: 1 1 40rem;
  z-index: 1;
}

.home .image img,
.skills .image img,
.exp-sec-wrapper .image img {
  width: 80%;
  margin-left: 6rem;
}
/*  ------------------------------------------------MAIN SECTION ENDS  ------------------------------------------------*/

/* SOCIAL ICON STARTS*/
.socials {
  position: relative;
  margin-top: 3rem;
}
.socials .social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.socials .social-icons li {
  display: inline-block;
  margin-bottom: 14px;
}
.social-icons a {
  font-size: 2rem;
  display: inline-block;
  line-height: 44px;
  text-align: center;
  margin-right: 8px;
}
/* SOCIAL ICONS ENDS  */

/*  ------------------------------------------------SKILL SECTION STARTS ------------------------------------------------*/

.skills .content-skills .box-design {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 1.5rem;
  background-color: var(--box-design);
  transform: rotateY(0deg) rotate(45deg);
}

.skills .tech-skills {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  margin-right: 20rem;
}

.skills .tech-skills .tech-icon .icon-bg {
  height: 96px;
  width: 96px;
  background-color: var(--box-design);
  border-radius: 5rem;
  padding: 2rem;
  transition: 0.6s;
}
.skills .tech-skills .tech-icon .icon-bg:hover {
  background-color: var(--voilet);
}

.skills .tech-skills .tech-icon .icon-bg div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills .content-skills .heading,
.heading {
  font-size: var(--heading-fs);
  font-weight: 400;
  padding-bottom: 3rem;
}
.skills .content-skills p {
  font-size: var(--para-fs);
  color: var(--para-clr);
  padding: 1rem;
  margin-bottom: 0;
}

/*  ------------------------------------------------SKILL SECTION ENDS ------------------------------------------------*/

/* ------------------------------------------------ EDUCATION SECTION STARTS  ------------------------------------------------*/
.education,
.experience,
.projects,
.contact {
  margin: 20rem 0rem 0rem 12rem;
}
.education {
  margin-bottom: 12rem;
}

.edu-center {
  margin-left: 8rem;
}
.edu-details {
  margin-bottom: 3rem;
}
.edu-center .edu-details h2 {
  font-size: 28px;
  text-overflow: ellipsis;
}
.edu-center .edu-details h5 {
  font-size: 1.5rem;
}
.edu-center .edu-details p {
  font-size: 1.2rem;
}

.border-animation {
  height: 30px;
  width: 60%;
  border-top: 2px solid hsla(0, 0%, 82.7%, 0.397);
  margin-bottom: 20px;
  transition: width 0.6s ease-in-out;
  cursor: pointer;
}

.border-animation:hover {
  width: 80%;
  border-top: 2px solid var(--voilet);
}

/*  ------------------------------------------------EDUCATION SECTION ENDS  ------------------------------------------------*/

/*  ------------------------------------------------WORK EXPERIENCE STARTS ------------------------------------------------ */

.experience .wrapper {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
}

.exp-sec-wrapper {
  margin-top: 0rem;
}

/* ARROW POINTER  */
.experience .right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 15px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid var(--voilet);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--voilet) transparent transparent;
}

.experience .content {
  background-color: var(--box-design);
  position: relative;
  border-radius: 6px;
}
.experience .content .tag {
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}
.experience .content .desc {
  margin-left: 1.5rem;
  padding-bottom: 1rem;
}
.experience .content .desc h3 {
  font-size: 1.5rem;
  font-weight: 600;
}
.experience .content .desc p {
  font-size: 1.2rem;
}

.experience .timeline {
  position: relative;
  flex: 2;
}

/* LINE  */
.experience .timeline::after {
  content: "";
  position: absolute;
  width: 3px;
  background-color: var(--voilet);
  top: 16px;
  bottom: 0;
  margin-left: -3px;
  z-index: -2;
  height: 270px;
}
.experience .right::after {
  left: -16px;
}

/* CIRCLE IN LINE*/
.experience .wrapper::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: rgb(255, 255, 255);
  border: 2px solid var(--voilet);
  top: 15px;
  border-radius: 50%;
  z-index: 100;
  font-size: 1.89rem;
  text-align: center;
  font-weight: 600;
  color: #02094b;
  font-family: "Font Awesome\ 5 Free";
}

.experience .content:hover {
  background-color: var(--voilet);
  color: var(--hoverstatenav);
}
/*  ------------------------------------------------WORK EXPERIENCE ENDS  ------------------------------------------------*/

/* ------------------------------------------------ PROJECTS SECTION STARTS ------------------------------------------------ */
.projects .projects-card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.pr-card-one,
.pr-card-two,
.pr-card-three {
  background-color: var(--box-design);
  height: 320px;
  width: 360px;
  margin: 1rem;
  border-radius: 8px;
}

.pr-card-content .project-title {
  padding: 3rem 4rem 2rem 4rem;
}
.pr-card-content .project-title p {
  font-style: italic;
}
.pr-card-content .project-details {
  padding: 0rem 4rem 2rem 4rem;
  font-size: 1.2rem;
}

/*  ------------------------------------------------PROJECTS SECTION ENDS  ------------------------------------------------*/

/*  ------------------------------------------------FOOTER SECTION STARTS ------------------------------------------------ */
.footer {
  width: 100%;
  height: 320px;
}

.footer-wrapper {
  background-color: var(--box-design);
  border-top: 4px solid var(--box-design);
}
.footer-wrapper:hover {
  border-top: 4px solid var(--voilet);
}

.footer-wrapper .footer-border {
  height: 1px;
  width: auto;
  background-color: var(--box-design);
}

.footer-wrapper .footer-title h1 {
  word-spacing: 0.4rem;
  letter-spacing: 0.3rem;
  padding-bottom: 1rem;
}

.footer-title p i {
  padding-right: 1rem;
  color: var(--voilet);
}
.footer-title p {
  font-size: 1.5rem;
  padding: 1rem 0;
}
.footer-wrapper .footer-end {
  margin-top: 2rem;
}

.footer-content .footer-social-icons a {
  text-decoration: none;
  list-style: none;
  height: 4rem;
  width: 4rem;
  padding: 1rem;
  text-align: center;
  border-radius: 5rem;
  font-size: 1.7rem;
  margin-right: 1rem;
  transition: 0.2s;
  background: var(--box-design);
  color: var(--voilet);
  border: none;
}
.footer-content .footer-social-icons a:hover {
  background: var(--voilet);
  transform: scale(0.98);
  color: var(--bodybackground);
}

.footer-wrapper .footer-content .footer-social-icons {
  list-style: none;
  text-decoration: none;
  padding: 1rem;
}

.footer-wrapper .footer-end .fa-heart {
  color: var(--voilet);
}

/*  ------------------------------------------------FOOTER SECTION ENDS ------------------------------------------------ */

/* SCROLL STYLES */
.scroll-top {
  position: fixed;
  bottom: 800px;
  right: 3rem;
  padding: 1rem 1.5rem;
  font-size: 2rem;
  background: var(--box-design);
  color: var(--voilet);
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
}
.scroll-top.active {
  bottom: 5rem;
  visibility: visible;
  opacity: 1;
}

.scroll-top:hover {
  background-color: var(--voilet);
  color: var(--bodybackground);
}

/* HAMBURGER ICON STARTS */

#menu {
  font-size: 3rem;
  cursor: pointer;
  color: rgb(24, 2, 63);
  display: none;
}

/* HAMBURGER ICON ENDS */

/* FOR HAND wave-sep ANIMATION STARTS */
.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

/*  ------------------------------------------------FOR HAND WAVE ANIMATION ENDS  ------------------------------------------------*/

/* ------------------------------------------------------PRELOADER------------------------------------------------  */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background: var(--bodybackground);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.loader-container.fade-out {
  top: -120%;
}
/* ------------------------------------------------------PRELOADER------------------------------------------------  */

/*  ------------------------------------------------MEDIA QUIERIS  ------------------------------------------------*/

/* SIDEBAR 
If the screen lies inside 768 resolution apply this styles   TABLETS*/
@media (max-width: 768px) {
  #menu {
    display: block;
  }
  header .navbar {
    position: fixed;
    top: 6.5rem;
    right: -120%;
    width: 75%;
    height: 100%;
    text-align: left;
    align-items: flex-start;
    background-color: var(--voilet);
  }
  header .navbar ul {
    flex-flow: column;
    padding: 1rem;
  }
  header .navbar ul li {
    text-align: center;
    width: 100%;
    margin: 1rem 0;
    border-radius: 0.5rem;
    width: 26rem;
  }
  header .navbar ul li a {
    display: block;
    padding: 1rem;
    text-align: left;
    color: var(--bodybackground);
    font-size: 2rem;
  }
  header .navbar ul li a.active,
  header .navbar ul li a:hover {
    padding: 1rem;
    color: #fff;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid var(--bodybackground);
  }
  .fa-times {
    transform: rotate(180deg);
  }
  header .navbar.nav-toggle {
    right: 0;
  }

  .education,
  .experience,
  .projects,
  .contact {
    margin: 6rem 0rem 0rem 12rem;
  }
  /* SKILLS */

  .skills .tech-skills {
    margin-right: 0;
    margin-left: 10rem;
  }
  .projects .projects-card-wrapper {
    display: block;
  }
  .pr-card-one,
  .pr-card-two,
  .pr-card-three {
    margin-left: 10rem;
    margin-bottom: 5rem;
  }

  .experience .timeline {
    flex: none
  }
.experience .exp-sec-wrapper .image img {
  width: 420px; 
  height: 200px;
  margin-left: 1rem;
  margin: 2rem;
}

}

@media (max-width: 1024px) {
  #header .navbar ul {
    flex: none;
  }

  .skills .tech-skills {
    grid-gap: 6rem;
    margin: auto;
  }

  .experience .exp-sec-wrapper .timeline {
      flex: 5;
  }

  .experience .timeline::after {
    height: 305px;
  }

  .projects-card-wrapper {
      margin-right: 2rem;
  }

  .projects .projects-card-wrapper .pr-card-one ,
  .projects .projects-card-wrapper .pr-card-three ,
  .projects .projects-card-wrapper .pr-card-two {
    height: 400px;
  }


}

/* ------------------------------------------------ FOR ALL MOBILE SIZE FITS ------------------------------------------------ */
@media (max-width: 450px) {
  /* HOME MAIN SECTION */

  .home .content {
    margin-left: 5rem;
  }

  .home,
  .skills {
    margin-top: 10rem;
  }
  .home .content h3 {
    font-size: 2rem;
  }
  .home .content p {
    font-size: 1.8rem;
  }
  .home .btn {
    font-size: 1.2rem;
    font-weight: 100;
    padding: 0.9rem 0.9rem;
  }
  .home .image img {
    margin-left: 11rem;
  }

  /* ABOUT SECTIONS SKILLS */
  .skills .content-skills,
  .experience,
  .projects,
  .education {
    margin-left: 5rem;
  }

  .skills .content-skills .heading,
  .experience .heading,
  .projects .heading,
  .education .heading {
    font-size: 3rem;
    font-weight: 400;
    padding-bottom: 3rem;
  }

  .skills .content-skills p {
    font-size: 1.8rem;
    margin-left: 2rem;
  }
  .skills .tech-skills {
    margin-right: 0rem;
    margin-left: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }

  /* EXPERIENCE  */

  .experience,
  .projects,
  .education {
    margin-top: 5rem;
  }

  .experience .timeline::after {
    height: 285px;
  }
  .experience .exp-sec-wrapper .timeline .content {
    width: 350px;
  }
  .experience .exp-sec-wrapper .image {
    width: 110%;
    margin-top: 5rem;
    margin-left: 0px;
  }

  .experience .exp-sec-wrapper .image img {
    margin-left: 1rem;
  }

  /* PROJECTS SECTION */

  .projects .projects-card-wrapper {
    display: block;
    margin-left: 1rem;
  }

  .projects .projects-card-wrapper .pr-card-one,
  .projects .projects-card-wrapper .pr-card-two,
  .projects .projects-card-wrapper .pr-card-three {
    margin-bottom: 3rem;
    margin-left: 0rem;
  }

  /* EDUCATION SECTION */

  .education .edu-center {
    margin-left: 2rem;
  }
  .edu-center .edu-details h2 {
    font-size: 1.8rem;
  }
  .edu-center .edu-details h5 {
    font-size: 1.3rem;
  }
  .edu-center .edu-details p {
    font-size: 1rem;
  }
  .footer {
    max-width: inherit;
    height: 270px
  }

  .footer .footer-wrapper .footer-title h1 {
    font-size: 2rem;
  }
}

@media (max-width: 425px) {
  .footer {
    width: 500px;
  }
}

@media (max-width: 400px) {
  .footer {
    width: 500px;
  }
}

@media (max-width:320px) {
  .home .content .socials .social-icons {
      width:max-content ;
  }

  #header img {
    width: 120px;
    height: 100px;
  } 
}