@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* ROOT VARIABLES */

:root {
  --hoverstateBtn: ;
  --hoverstatenav: #f4f4f4;
  --bodybackground: #ffffff;

  --voilet: #55198b;
  --box-design: rgba(109, 40, 217, 0.1);
  --box-design-hover: rgba(88, 17, 202, 0.1);

  --headerbar-bg: #fff;
  --headings: #000000;
  --para-clr: #868e96;
  --heading-fs : 4rem;
  --para-fs : 2.5rem;

  --font-nav: "Montserrat", sans-serif;
}



/* GENERAL STYLING  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}

.typed-cursor {
  color: var(--voilet);
}
.typing-text {
  color: var(--voilet);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 100vh;
}

body {
  background: var(--bodybackground);
  font-family: var(--font-nav);
}

/* For scroll stylings */
html::-webkit-scrollbar {
  width: 0.6rem;
}
html::-webkit-scrollbar-track {
  background: var(--voilet);
}
html::-webkit-scrollbar-thumb {
  /* background: #420177; */
}

/* HEADER BAR STARTS*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.7rem 10%;
  height: 6.5rem;
  background-color: var(--headerbar-bg);
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
}

header .logo {
  font-size: 2rem;
  font-weight: 800;
  text-decoration: none;
  color: #0e2431;
}
header .logo i {
  font-size: 2.2rem;
}
header .logo:hover {
  color: var(--logohover);
}
header .navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
header .navbar li {
  margin-left: 2.5rem;
}
header .navbar ul li a {
  font-size: 1.57rem;
  color: var(--headings);
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.04rem;
  padding: 1rem 1.4rem;
  transition: 0.6s;
  outline: none;
  border-radius: 2rem;
}
header .navbar ul li a.active,
header .navbar ul li a:hover {
  color: var(--bodybackground);
  background-color: var(--voilet);
  border: 1px solid var(--voilet);
}
/* HEADER BAR ENDS*/

/* MAIN SECTION STARTS */

.home,
.skills {
  margin-top: 24rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}

.home #particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
/* flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ] */
.home .content,
.skills .content-skills {
  flex: 1 1 40rem;
  padding-top: 1rem;
  z-index: 1;
  margin-left: 10rem;
}

.home .content h3 {
  font-size: 5rem;
  font-weight: 800;
  color: var(--font-root);
}

.home .content p {
  font-size: var(--para-fs);
  color: var(--para-clr);
  font-weight: 800;
  padding: 1rem 0;
}

.home .btn {
  background-color: var(--voilet);
  border: 1px solid var(--voilet);
  color: var(--bodybackground);
  font-weight: 700;
  width: -webkit-max-content;
  width: max-content;
  padding: 1rem 1.4rem;
  text-transform: uppercase;
  outline: none;
  border-radius: 2rem;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
}

.home .btn:hover {
  background: var(--bodybackground);
  border: 1px solid var(--voilet);
  color: var(--voilet);
}

/* MAIN IMG  */
.home .image,
.skills .image {
  flex: 1 1 40rem;
  z-index: 1;
}

.home .image img,
.skills .image img {
  width: 80%;
  margin-left: 6rem;
}
/* MAIN SECTION ENDS */

/* SOCIAL ICON STARTS*/
.socials {
  position: relative;
  margin-top: 3rem;
}
.socials .social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.socials .social-icons li {
  display: inline-block;
  margin-bottom: 14px;
}
.social-icons a {
  font-size: 2rem;
  display: inline-block;
  line-height: 44px;
  text-align: center;
  margin-right: 8px;
}
/* SOCIAL ICONS ENDS  */

/* SKILL SECTION STARTS*/

.skills .content-skills .box-design {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 1.5rem;
  background-color: var(--box-design);
  transform: rotateY(0deg) rotate(45deg);
}

.skills .tech-skills {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  margin-right: 20rem;
}

.skills .tech-skills .tech-icon .icon-bg {
  height: 96px;
  width: 96px;
  background-color: var(--box-design);
  border-radius: 5rem;
  padding: 2rem;
  transition: 0.6s;
}
.skills .tech-skills .tech-icon .icon-bg:hover {
  background-color: var(--voilet);
}

.skills .tech-skills .tech-icon .icon-bg div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills .content-skills .heading,
.heading {
  font-size: var(--heading-fs);
  font-weight: 400;
  padding-bottom: 3rem;
}
.skills .content-skills p {
  font-size: var(--para-fs);
  color: var(--para-clr);
  padding: 1rem;
  margin-bottom: 0;
 
}

/* SKILL SECTION ENDS*/

/* EDUCATION SECTION STARTS */
.education ,
.experience,
.projects,
.contact {
  margin: 20rem 0rem 0rem 12rem;
}

.education .edu-box {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.education .edu-box .schooling-box,
.education .edu-box .collage-box{
  width: 40%;
  height: 325px;
}
.education .edu-box .schooling-box .heading-box ,
.education .edu-box .collage-box .heading-box {
  background-color: var(--voilet);
  color: var(--bodybackground);
  border-radius: 1.4rem;
}

.education .edu-box .schooling-box .school-heading,
.education .edu-box .collage-box .clg-heading {
  font-size: 2rem;
  font-weight: 900;
  padding: 2rem;
  text-align: center;
}
.education .edu-box .schooling-box .schl-content,
.education .edu-box .collage-box .clg-content {
  color: var(--para-clr);
  font-size: 2rem;
  padding: 1.8rem;

}
.education .edu-box .schooling-box .schl-content>h2,
.education .edu-box .collage-box .clg-content>h2 {
  color: var(--headings);
}
.education .edu-box .schooling-box .schl-content article > p,
.education .edu-box .collage-box .clg-content article > p {
  font-size: 1.4rem;
}



/* EDUCATION SECTION ENDS */

/* WORK EXPERIENCE STARTS */

.experience ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #22c0e8;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}


/* HAMBURGER ICON STARTS */

#menu {
  font-size: 3rem;
  cursor: pointer;
  color: rgb(24, 2, 63);
  display: none;
}

/* HAMBURGER ICON ENDS */

/* FOR HAND wave-sep ANIMATION STARTS */
.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
/* FOR HAND WAVE ANIMATION ENDS */

/* MEDIA QUIERIS */

/* SIDEBAR 
If the screen lies insie 768 resolution apply this styles */
@media (max-width: 768px) {
  #menu {
    display: block;
  }
  header .navbar {
    position: fixed;
    top: 6.5rem;
    right: -120%;
    width: 75%;
    height: 100%;
    text-align: left;
    align-items: flex-start;
    background-color: #0e0f31;
  }
  header .navbar ul {
    flex-flow: column;
    padding: 1rem;
  }
  header .navbar ul li {
    text-align: center;
    width: 100%;
    margin: 1rem 0;
    border-radius: 0.5rem;
    width: 26rem;
  }
  header .navbar ul li a {
    display: block;
    padding: 1rem;
    text-align: left;
    color: #fff;
    font-size: 2rem;
  }
  header .navbar ul li a.active,
  header .navbar ul li a:hover {
    padding: 1rem;
    color: #fff;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid #011aff;
  }
  .fa-times {
    transform: rotate(180deg);
  }
  header .navbar.nav-toggle {
    right: 0;
  }
}
